@charset "UTF-8";

/* 
   Em HTML é id = em CSS é #
   Em HTML é class = em CSS é .
*/

body {
    background-color: rgba(7, 216, 216, 0.671);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 1, 107);
}

h1#principal {
    text-align: center;
    background-color: rgb(5, 255, 5);
    color: white;
}

h2 {
    color: rgb(18, 1, 255);
}

.basico {
    color: green;
}

.intermediario {
    color: blue;
}

.avançado {
    color: red;
}

.destaque {
    background-color: black;
}